@base-background-color: rgba(30, 32, 34, 1.0);
@dark-background-color: rgba(44, 45, 47, 1.00);
@selected-note-color: rgba(25, 25, 28, 1.0);
@title-text-color-app: rgba(173, 192, 200, 1.00);
@title-text-color-text: rgba(203, 219, 229, 1.00);
@label-color: rgba(111, 115, 115, 1.0);
@code-keyword: rgba(174, 237, 218, 1.0);
@code-define: rgba(209, 160, 105, 1.0);
@code-variable: rgba(255, 205, 120, 1.0);
@code-background: rgba(36, 36, 36, 1.00);
@code-border: rgba(87, 87, 87, 1.00);
@code-color: rgba(169, 183, 198, 1.0);


.note-list-header {
    background-color: @base-background-color;

    .note-list-header-title-bar {
        display: none; //hide the notebook title
    }
}

.note-list-search-bar {
  background-color: @base-background-color;

  .ui.input>input {
    background-color: @dark-background-color
  }
}

.editor-layout .editor-header-layout, .editor-header-title-input.ui.input .editor-header-top-spacer, .editor-header-title-input.ui.input input[type='text'], .editor-meta-layout {
  background-color: @base-background-color;
}

.mde-toolbar {
  background-color: @base-background-color;
  opacity: 1;
}

.note-tags-bar-input .ui.input > input {
  background-color: @base-background-color;
  color: @label-color
}

.app-control-view {
  background-color: @dark-background-color
}

.sidebar-menu {
  background-color: @dark-background-color
}

.sidebar-menu-item {
  color: rgba(163, 164, 164, 1.0)
}

.sidebar-menu-item.selectable {
  color: rgba(163, 164, 164, 1.0)
}

.sidebar-menu-item.active {
  background-color: rgba(39, 106, 179, 1.00);
  color: rgba(217, 216, 218, 1.00);
  border-radius: 6px;
}

body {
}

.note-list-bar {
  background-color: @base-background-color;
  color: rgb(169, 183, 198);
  font-family: AvenirNext-Medium;
  font-size: 14px;
}

.note-list-item-view .content .header {
  // margin: 12px 12px 12px 0;
  font-weight: 400;
  font-size: 1.10em;
}

/* Border = Accent Text Color */
.note-list-bar-item {
  border-right: 1px solid #000000;

  .note-list-item-view.active {
    background-color: @selected-note-color;
    border-left: 5px solid rgba(74, 168, 251, 1.00);
    color: rgb(169, 183, 198);
    // font-size: 16px;
  }

  .note-list-item-view {
    background-color: @base-background-color;
    color: rgb(169, 183, 198);
    border-bottom: 1px solid #000000;
  }

  .note-list-item-view.active {
    box-shadow: none;
  }

  .note-list-item-view.active.focused {
    padding: 2px 0px 10px 15px; // above -5 for blue mark
  }
}


/* Looks very similar to rgba(169, 183, 198, 1.0) (base text color) */
.note-list-item-view.active .content .header, .note-list-item-view.focused .content .header {
  color: @title-text-color-app;
}

.note-list-item-view .content .header {
  color: @title-text-color-app;
}

/* description text, non-focused notes */
/* Light Text Color */
.note-list-item-view .content .description .text {
  color: @label-color
}

/* Light Text Color */
.node-list-item-view.active .content .description .text, .note-list-item-view.focused .content .description .text {
  color: @label-color
}

.note-list-item-view .content .description .date {
  display: none;
}

.note-list-item-view {
  // padding: 2px 0px 10px 14px;
  padding: 2px 0px 10px 20px;
}

.editor {
  background-color: @base-background-color;
  font-family: AvenirNext-Regular;
  // font-family: "Helvetica Neue";
  // background-color: rgb(28, 29, 31);

  .CodeMirror {
    background-color: @base-background-color;
    font-family: AvenirNext-Regular;
    // font-family: "Helvetica Neue";
    // background-color: rgb(28, 29, 31);

    .cm-inline-code {
      background-color: @code-background;
      border: 1px solid @code-border;
      padding-left: 4px;
      padding-right: 4px;
    }


    .cm-formatting {
      border: 0px;
      padding: 0px;
    }
  }
}

.mde-preview {
  border-left: 1px
}

.mde-cm-wrapper {
  .CodeMirror {
    // font-family: AvenirNext-Regular; // note areas
    font-family: "Helvetica Neue";
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;

    .CodeMirror-code {
      .cm-header-1 {
        font-size: 1.5em;
        font-weight: normal;
        color: @title-text-color-text;
      }

      .cm-header-2 {
        font-size: 1.3em;
        font-weight: normal;
        color: @title-text-color-text;
      }

      .cm-header-3 {
        font-size: 1.1em;
        font-weight: normal;
        color: @title-text-color-text;
      }
      .cm-header-4 {
        font-size: 1.05em;
        font-weight: normal;
        color: @title-text-color-text;
      }
    }
  }
}

.note-list-bar-blank-slate {
  background-color: @base-background-color;
  opacity: 1;
}

.editor-blank-slate {
  background-color: @base-background-color;
  opacity: 1;
}

.editor-layout {
  border-left: 1px solid #000000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  // background: @base-background-color;
}

::-webkit-scrollbar-thumb {
  background: @label-color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: @label-color
}

.sidebar-menu-section-status, .sidebar-menu-status-list-item {
  display: none;
}

.editor {
  .CodeMirror {
    .cm-bracket {
      color: rgba(74, 168, 251, 1.0);
    }

    .cm-formatting-list.cm-variable-2 {
      color: rgba(74, 168, 251, 1.0);
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: @code-background;
      // border-radius: 2px;
      border-left: 1px solid @code-border;
      border-right: 1px solid @code-border;
    }

    .gfm-codeblock-begin-bg {
      border-top: 1px solid @code-border;
    }

    .gfm-codeblock-end-bg {
      border-bottom: 1px solid @code-border;
    }

    .cm-keyword {
      color: @code-keyword;
    }

    .cm-type {
      color: @code-define;
    }

    .cm-def {
      color: @code-define;
    }

    .cm-variable {
      color: inherit;
    }

    .cm-operator {
      color: inherit;
    }
  }
}